.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @include mobile {
    max-width: 480px;
  }

  @include tablet {
    max-width: 768px;
  }

  @include desktop {    
    max-width: 1200px;
  }
}
